In [67]:
# Data Manipulation libraries:
import numpy as np
import pandas as pd
from copy import deepcopy

# Plotting libraries
import mplsoccer
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
from matplotlib.patches import Arc
from matplotlib.backends.backend_pdf import PdfPages
from matplotlib.projections import get_projection_class
from mpl_toolkits.axes_grid1.inset_locator import inset_axes

In [88]:
playerWisedf = pd.read_csv('data/playerWise.csv')
creativityData = pd.read_csv('data/creativityData.csv')
passingAbilityData = pd.read_csv('data/passingAbilityData.csv')
ballControlData = pd.read_csv('data/ballControlData.csv')

In [89]:
""" Get Playmaker Data """

# Join Vision  df with Ball Control df:
playmakerDataFinal = pd.merge(playerWisedf[['player.name', 'team.name',
                                            'minsPlayed', 'visionRating']],
                              ballControlData["bcRating"],
                              how="outer",
                              left_index=True, right_index=True)

# Join Final Playmaker df with Creativity df:
playmakerDataFinal = pd.merge(playmakerDataFinal,
                              creativityData["creativityRating"],
                              how="outer",
                              left_index=True, right_index=True)

# Join Final Playmaker df with Passing Ability df:
playmakerDataFinal = pd.merge(playmakerDataFinal,
                              passingAbilityData['paRating'],
                              how="outer",
                              left_index=True, right_index=True)

In [90]:
playmakerDataFinal.head()

,player.name,team.name,minsPlayed,visionRating,bcRating,creativityRating,paRating
0,Nabil Fekir,Real Betis,75.0,0.000000,4.623042,3.560000,4.183708
1,Mikel Merino Zazón,Real Sociedad,187.0,0.625668,5.572208,4.757599,5.119945
2,Javier Hernández Balcázar,Sevilla,28.0,0.000000,NaN,NaN,3.909841
3,Yannis Salibur,Mallorca,11.0,4.909091,NaN,NaN,5.667870
4,Chidozie Collins Awaziem,Leganés,96.0,0.000000,1.437603,1.402556,5.086162

In [91]:
playmakerDataFinal[['visionRating', 'bcRating',
                    'creativityRating', 'paRating']].mean(axis=1)

0      3.091687
1      4.018855
2      1.954920
3      5.288480
4      1.981580
         ...
365    2.210779
366    2.070102
367    5.523962
368    3.278311
369    2.170039
Length: 370, dtype: float64

In [92]:
playmakerDataFinal["playmakerRating"] =\
    playmakerDataFinal[['visionRating', 'bcRating',
                        'creativityRating', 'paRating']].mean(axis=1)

In [93]:
playmakerDataFinal.loc[playmakerDataFinal["playmakerRating"].nlargest(10).index]\
    [["player.name", "team.name", "playmakerRating"]]

                       player.name      team.name  playmakerRating
51   Éver Maximiliano David Banega        Sevilla         7.185258
333           Enrique Barja Afonso        Osasuna         5.910448
38           Gerard Piqué Bernabéu      Barcelona         5.814670
357                  Takefusa Kubo       Mallorca         5.728591
222                 Alexander Isak  Real Sociedad         5.605444
55                      Toni Kroos    Real Madrid         5.543687
367                            NaN            NaN         5.523962
354  Matías Ezequiel Vargas Martín       Espanyol         5.507230
47                  Raphaël Varane    Real Madrid         5.410888
37                Jordi Alba Ramos      Barcelona         5.408401

In [53]:
playmakerDataFinalFiltered = playmakerDataFinal[playmakerDataFinal["minsPlayed"] > 45]

In [54]:
playmakerDataFinalFiltered.loc[
    playmakerDataFinalFiltered["playmakerRating"].nlargest(10).index]\
        [["player.name", "team.name", "playmakerRating"]]

                        player.name        team.name  playmakerRating
51    Éver Maximiliano David Banega          Sevilla         7.185258
38            Gerard Piqué Bernabéu        Barcelona         5.814670
357                   Takefusa Kubo         Mallorca         5.728591
222                  Alexander Isak    Real Sociedad         5.605444
55                       Toni Kroos      Real Madrid         5.543687
47                   Raphaël Varane      Real Madrid         5.410888
37                 Jordi Alba Ramos        Barcelona         5.408401
50   Lionel Andrés Messi Cuccittini        Barcelona         5.366020
73             Saúl Ñíguez Esclapez  Atlético Madrid         5.141693
40                Iago Aspas Juncal       Celta Vigo         4.989546

In [55]:
#Using Weights

In [95]:
playmakerDataFinal["playmakerRating"] =\
    (playmakerDataFinal["visionRating"]*0.4)\
        .add(playmakerDataFinal["bcRating"]*0.2)\
        .add(playmakerDataFinal["creativityRating"]*0.3)\
        .add(playmakerDataFinal["paRating"]*0.1)

In [97]:
playmakerDataFinal.to_csv("playmaker_final.csv")

In [42]:
df = pd.read_csv("playmaker_final.csv")

In [37]:
df.isnull().sum()

Unnamed: 0          0
player.name         0
team.name           0
minsPlayed          0
visionRating        0
bcRating            0
creativityRating    0
paRating            0
playmakerRating     0
dtype: int64

In [12]:
playmakerDataFinalFiltered = playmakerDataFinal[playmakerDataFinal["minsPlayed"] > 45]

In [26]:
playmakerDataFinalFiltered.loc[
    playmakerDataFinalFiltered["playmakerRating"].nlargest(10).index]\
        [["player.name", "team.name", "playmakerRating"]]

                        player.name        team.name  playmakerRating
51    Éver Maximiliano David Banega          Sevilla         7.185258
38            Gerard Piqué Bernabéu        Barcelona         5.814670
357                   Takefusa Kubo         Mallorca         5.728591
222                  Alexander Isak    Real Sociedad         5.605444
55                       Toni Kroos      Real Madrid         5.543687
47                   Raphaël Varane      Real Madrid         5.410888
37                 Jordi Alba Ramos        Barcelona         5.408401
50   Lionel Andrés Messi Cuccittini        Barcelona         5.366020
73             Saúl Ñíguez Esclapez  Atlético Madrid         5.141693
40                Iago Aspas Juncal       Celta Vigo         4.989546

In [96]:
playmakerDataFinal

,player.name,team.name,minsPlayed,visionRating,bcRating,creativityRating,paRating,playmakerRating
0,Nabil Fekir,Real Betis,75.0,0.0,4.623042,3.56,4.183708,2.410979
1,Mikel Merino Zazón,Real Sociedad,187.0,0.625668,5.572208,4.757599,5.119945,3.303983
2,Javier Hernández Balcázar,Sevilla,28.0,0.0,0,0,3.909841,0.390984
3,Yannis Salibur,Mallorca,11.0,4.909091,0,0,5.66787,2.530423
4,Chidozie Collins Awaziem,Leganés,96.0,0.0,1.437603,1.402556,5.086162,1.216904
...,...,...,...,...,...,...,...,...
365,Jacobo González Rodrigañez,Celta Vigo,80.0,0.0,0,1.97911,4.653228,1.059056
366,Abdallahi Mohamed Mahmoud,Deportivo Alavés,27.0,0.0,0,0,4.140203,0.41402
367,0.0,0.0,0.0,0.0,0.0,5.523962,0.0,1.657188
368,0.0,0.0,0.0,0.0,3.743204,2.813419,0.0,1.592666
369,0.0,0.0,0.0,0.0,0.0,2.170039,0.0,0.651012

In [98]:
df = pd.read_csv("data/all_data_for_tab.csv")

/var/folders/l7/dwz00nyj4vz8vc2_np2c6x280000gn/T/ipykernel_36177/3766035732.py:1: DtypeWarning: Columns (19,42,77,89,98,100,101,102,108,109,110,111,112,113,115,116,118,120,122,123,124,126,127,130,131,132,133,134,135,136,137,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/all_data_for_tab.csv")

,Unnamed: 0,match_id,id,index,period,timestamp,minute,second,possession,duration,...,referee.country.name,endXCarry,endYCarry,endXShot,endYShot,goalHeight,startX,startY,endX,endY
0,0,303421,99d03ac6-bd7b-452a-91be-32e28f96bc1c,1,1,00:00.0,0,0,1,0.000000,...,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,303421,45e9a850-9a07-4266-8c05-66565e7ac83c,2,1,00:00.0,0,0,1,0.000000,...,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,303421,715a7900-5e3a-41f6-9870-44dc657ba2bc,3,1,00:00.0,0,0,1,0.000000,...,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,303421,9df4334c-c6e4-4457-97f2-8948375695c7,4,1,00:00.0,0,0,1,0.000000,...,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,303421,1a45cc07-8721-46a1-81eb-ac83d3e44b6d,5,1,00:00.6,0,0,2,1.235451,...,Spain,NaN,NaN,NaN,NaN,NaN,60.0,40.0,43.2,40.7